name: Check Codebase formatting

on:
  pull_request:
  push:
    branches: [main]

# Cancel previous jobs that are running
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        run: curl https://sh.rustup.rs -sSf | sh -s -- -y

      - name: Format files
        run: |
          cd stl2lnas
          cargo fmt --check
